
/*/////////////////////////////////////
    Featured Projects Section
/////////////////////////////////////*/

/*************************************
small screens
*************************************/
@media (max-width: 800px) {
    

}


/*************************************
Large screens
*************************************/
@media (min-width: 800px) {
    

}


/*/////////////////////////////////////
    Art Gallery Section
/////////////////////////////////////*/
/*************************************
small screens
*************************************/
@media (max-width: 800px) {
    .art-gallery--container {
        background-color: var(--clr-white);
        border-radius: 40px;
        max-width: 86vw;
        margin-left: 7vw;
        margin-top: 36px;
        box-shadow: var(--bs);
        padding: 32px;
    }

    .art-gallery--top-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .art-gallery--title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }

    .art-gallery--see-all {
        background-color: transparent;
        color: var(--clr-primary);
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        border-radius: 10px;
        border: 3px solid var(--clr-primary);
    }

    .art-gallery--see-all:hover {
        margin: -6px 6px 6px -6px;
        box-shadow: 6px 6px var(--clr-hover);
    }

    .art-gallery--grid-container {
        display: grid;
        place-items: center;
        align-items: center;
        grid-template-columns: auto auto;
        grid-gap: 20px 20px;
    }

    .gallery-image--home {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        border-radius: 20px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 3px solid black;
    }

    .gallery-image--home:hover {
        margin: -6px 6px 6px -6px;
        box-shadow: 6px 6px var(--clr-hover), 0px 0px 0px 3px black inset, 6px 6px 0px 3px black;
    }

    .modal {
        background-color: rgba(0, 0, 0, 0.85);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        background-color: var(--clr-white);
        border-radius: 40px;
        min-width: 60vw;
        max-width: 80vw;
        max-height: 90vh;
        display: grid;
        grid-template-rows: auto 40px 60px;
        justify-content: center;
        align-items: center;
        gap: 0px;
        padding:32px;
    }

    .modal-image {
        object-fit:contain;
        max-height: 50vh;
        margin-top: 24px;
        margin-bottom: 100px;
        justify-self: center;
    }

    .modal-text-container {
        margin-top: -80px;
    }

    .modal-image-title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
        margin-bottom: -24px;
    }

    .modal-image-desc {
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        color: var(--clr-body-text);
    }

    .modal-close {
        background-color: transparent;
        border-radius: 40px;
        border: 3px solid var(--clr-primary);
        padding-top: 6px;
        padding-bottom: 7px;
        margin-top: 18px;
        margin-bottom: 24px;
        font-size: var(--fs-body);
        font-weight: var(--fw-semi);
        color: var(--clr-primary);
        margin-bottom: 30px;
    }

    .modal-close:hover {
        margin: -6px 6px 30px -6px;
        box-shadow: 6px 6px var(--clr-hover);
    }

}

/*************************************
large screens
*************************************/
@media (min-width: 800px) {
    .art-gallery--container {
        background-color: var(--clr-white);
        border-radius: 40px;
        max-width: 86vw;
        margin-left: 7vw;
        margin-top: 36px;
        box-shadow: var(--bs);
        padding: 40px;
    }

    .art-gallery--top-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .art-gallery--title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }

    .art-gallery--see-all {
        background-color: transparent;
        color: var(--clr-primary);
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        border-radius: 10px;
        border: 3px solid var(--clr-primary);
    }

    .art-gallery--see-all:hover {
        margin: -6px 6px 6px -6px;
        box-shadow: 6px 6px var(--clr-hover);
    }

    .art-gallery--grid-container {
        display: grid;
        place-items: center;
        align-items: center;
        grid-template-columns: auto auto auto auto;
        grid-gap: 40px 40px;
        margin-bottom: 12px;
    }

    .gallery-image--home {
        object-fit: cover;
        width: 700px;
        border-radius: 40px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 4px solid black;
    }

    .gallery-image--home:hover {
        margin: -10px 10px 10px -10px;
        box-shadow: 10px 10px var(--clr-hover), 0px 0px 0px 3px black inset, 10px 10px 0px 3px black;
    }

    .modal {
        background-color: rgba(0, 0, 0, 0.85);
        position: fixed;
        width: 100%;
        height: 100%;
        z-index: 1000;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .modal-content {
        background-color: var(--clr-white);
        border-radius: 40px;
        min-width: 50vw;
        max-width: 80vw;
        max-height: 90vh;
        display: grid;
        grid-template-rows: auto 40px 60px;
        justify-content: center;
        align-items: center;
        gap: 12px;
        padding: 40px;
    }

    .modal-image {
        object-fit: cover;
        max-height: 65vh;
        overflow: hidden;
        
    }

    .modal-text-container {
        margin-top: 12px;
    }

    .modal-image-title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
        margin-bottom: -24px;
        margin-top: 32px;
    }

    .modal-image-desc {
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        color: var(--clr-body-text);
        margin-bottom: 24px;
    }

    .modal-close {
        background-color: transparent;
        border-radius: 40px;
        border: 3px solid var(--clr-primary);
        padding-top: 6px;
        padding-bottom: 7px;
        margin-top: 48px;
        margin-bottom: 24px;
        font-size: var(--fs-h2);
        font-weight: var(--fw-semi);
        color: var(--clr-primary);
    }

    .modal-close:hover {
        margin: 24px 6px 6px -6px;
        box-shadow: 6px 6px var(--clr-hover);
    }

}




/*
///////////////////////////////////////
Projects Page
///////////////////////////////////////

///////////////////////////////////////
UI/UX Projects
///////////////////////////////////////
*************************************
small screens
*************************************
*/

@media (max-width: 800px) {
    .projects--uiux-container, .projects--ds-container {
        margin: 100px 7vw 40px 7vw;
        background-color: var(--clr-white);
        border-radius: 40px;
        padding: 40px;
        width: 86vw;
        box-shadow: var(--bs);
    }

    .projects--section-title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }
}


/*************************************
large screens
************************************/
@media (min-width: 800px) {
    .projects--uiux-container, .projects--ds-container {
        margin: 140px 7vw 40px 7vw;
        background-color: var(--clr-white);
        border-radius: 40px;
        padding: 40px;
        width: 86vw;
        box-shadow: var(--bs);
    }

    .projects--ds-container {
        margin-top: 60px;
        margin-bottom: 100px;
    }

    .projects--cards-container {
        margin-top: 32px;
        margin-left: 8px;
        margin-right: 8px;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 24px 24px;
        justify-content: center;
        align-items: center;
    }

    .projects--section-title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }
}


/*
///////////////////////////////////////
Full Art Gallery Page
///////////////////////////////////////
*************************************
small screens
*************************************
*/

@media (max-width: 800px) {
    .full-gallery--container {
        background-color: var(--clr-white);
        border-radius: 40px;
        box-shadow: var(--bs);
        margin: 120px 7vw 100px 7vw;
        width: 86vw;
        padding-top: 24px;
    }

    .full-gallery--grid-container {
        padding: 24px;
        display: grid;
        grid-template-columns: auto auto;
        gap: 24px;
    }

    .full-gallery--title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
        margin-left: 24px;
    }

    .full-gallery--filters {
        display: grid;
        grid-template-columns: auto auto auto;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 24px;
        gap: 16px;
    }

    .full-gallery--filter-all,
    .full-gallery--filter-drawing,
    .full-gallery--filter-painting,
    .full-gallery--filter-game-art,
    .full-gallery--filter-ui {
        background-color: transparent;
        border: 3px solid var(--clr-primary);
        border-radius: 200px;
        color: var(--clr-primary);
        font-size: var(--fs-body-sm);
        font-weight: var(--fw-semi);
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .full-gallery--filters > button:hover {
        background-color: var(--clr-hover);
        color: var(--clr-white);
        border: 3px solid var(--clr-hover);
    }

    .full-gallery--filter-active {
        background-color: var(--clr-hover);
        border: 3px solid var(--clr-hover);
        border-radius: 200px;
        color: var(--clr-white);
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: var(--fs-body-sm);
        font-weight: var(--fw-semi);
    }
}

/*************************************
large screens
*************************************/
@media (min-width: 800px) {
    .full-gallery--container {
        background-color: var(--clr-white);
        border-radius: 40px;
        box-shadow: var(--bs);
        margin: 150px 7vw 100px 7vw;
        width: 86vw;
        padding-top: 24px;
    }

    .full-gallery--title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
        margin-left: 50px;
    }

    .full-gallery--grid-container {
        padding: 50px;
        padding-top: 24px;
        display: grid;
        grid-template-columns: auto auto auto auto;
        gap: 2vw;
    }

    .full-gallery--topline {
        display: flex;
        justify-content: space-between;
        margin-right: 50px;
        align-items: center;
    }

    .full-gallery--filter-all,
    .full-gallery--filter-drawing,
    .full-gallery--filter-painting,
    .full-gallery--filter-game-art,
    .full-gallery--filter-ui {
        background-color: transparent;
        border: 3px solid var(--clr-primary);
        border-radius: 200px;
        color: var(--clr-primary);
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        margin-left: 32px;
        margin-bottom: 12px;
    }

    .full-gallery--filters > button:hover {
        background-color: var(--clr-hover);
        color: var(--clr-white);
        border: 3px solid var(--clr-hover);
    }

    .full-gallery--filter-active {
        background-color: var(--clr-hover);
        border: 3px solid var(--clr-hover);
        border-radius: 200px;
        color: var(--clr-white);
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 6px;
        padding-bottom: 6px;
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        margin-left: 32px;
        margin-bottom: 12px;
    }
}


/*/////////////////////////////////////
    Resume Section
/////////////////////////////////////*/
/*************************************
small screens
*************************************/
@media (max-width: 800px) {
    .resume--container {
        display: grid;
        grid-template-columns: 1fr;
        background-color: var(--clr-white);
        border-radius: 40px;
        padding: 16px;
        margin: 100px 5vw 60px 5vw;;
    }

    .resume--name-contact {
        padding: 12px;
        margin-bottom: 24px;
    }

    .resume--main-title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
        margin-top: 4px;
    }

    .resume--main-job-title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-semi);
        color: var(--clr-headings);
        margin-top: 12px;
    }

    .resume--main-contact-container {
        display: grid;
        margin-top: 20px;
    }

    .resume--main-contact-link {
        color: var(--clr-primary);
        text-decoration: none;
        font-weight: var(--fw-semi);
    }

    .resume--logo-container {
        background-color: var(--clr-white);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .resume--logo {
        max-width: 60vw;
        margin: auto;
    }

    .resume--profile-container {
        background-color: var(--clr-headings);
        border-radius: 20px;
        padding:20px;
        margin-bottom: 12px;;
    }

    .resume--profile-title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-semi);
        color: var(--clr-light-bg);
    }
    
    .resume--profile-body {
        color: var(--clr-light-bg);
    }

    .resume--edu-skills {
        padding: 20px;
    }

    .resume--edu-title,
    .resume--edu-school,
    .resume--edu-when {
        color: var(--clr-headings);
    }

    .resume--projects-container, .resume--jobs-container {
        padding:20px;
    }
    .resume--header {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }

    .resume--job-company {
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
        margin-top: 32px;
    }

    .resume--job-date, .resume--job-title {
        font-weight: var(--fw-semi);
        font-size: var(--fs-sub-head);
        color: var(--clr-headings);
        margin-top: 12px;
    }

    .resume--project-title {
        text-decoration: none;
        font-weight: var(--fw-semi);
        font-size: var(--fs-sub-head);
        color: var(--clr-primary);
    }


}

/*************************************
large screens
*************************************/
@media (min-width: 800px) {

    .resume--container {
        display: grid;
        grid-template-columns: 23vw auto;
        background-color: var(--clr-white);
        width: 90vw;
        height: max-content;
        margin-top: 120px;
        margin-left: 5vw;
        box-shadow: var(--bs);
        padding: 24px;
    }

    .resume--top-line {
        grid-column-start: 1;
        grid-column-end: -1;
    }

    .resume--name-contact {
        margin-top: 40px;
        margin-left: 40px;
        margin-right: 40px;
        padding-bottom: 0;
        margin-bottom: 0;
    }

    .resume--left-column {
        background-color: var(--clr-light-bg);
        grid-column-start: 1;
    }

    .resume--logo-container {
        background-color: var(--clr-white);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .resume--logo {
        max-width: 15vw;
        max-height: 15vw;
    }

    .resume--profile-container {
        background-color: var(--clr-headings);
        padding-bottom: 24px;
    }

    .resume--profile-title {
        color: var(--clr-light-bg);
        font-size: var(--fs-h1);
        font-weight: var(--fw-reg);
        padding-left: 24px;
        padding-top: 24px;
    }

    .resume--seperator {
        margin-right: 24px;
        margin-left: 24px;
    }

    .resume--profile-body {
        font-size: var(--fs-body);
        font-weight: var(--fw-light);
        color: var(--clr-light-bg);
        margin-left: 24px;
        margin-right: 24px;
    }

    .resume--edu-skills {
        display: block;
        background-color: var(--clr-light-bg);
        padding:24px;
    }

    .resume--edu-title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }

    .resume--edu-seperator{
        background-color: var(--clr-headings);
        height: 2px;
        border: none;
    }

    .resume--edu-school {
        font-size: var(--fs-h2);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
        margin-bottom: 12px;
        margin-top: 24px;
    }

    .resume--edu-when {
        font-size: var(--fs-h2);
        font-weight: var(--fw-semi);
        color: var(--clr-headings);
        margin-bottom: -6px;
    }

    .resume--edu-blurb {
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        color: var(--clr-headings);
        margin-bottom: 24px;
    }

    .resume--edu {
        margin-top: 40px;
        margin-bottom: 60px;
    }

    .resume--skill-list {
        font-size: var(--fs-h2);
        font-weight: var(--fw-semi);
        color: var(--clr-headings);
        list-style: decimal;
        margin-bottom: 60px;
    }

    .resume--main-body {
        padding: 40px;
        min-width: 0;
    }

    .resume--main-title {
        font-size: var(--fs-xl);
        font-weight: var(--fw-semi);
        color: var(--clr-headings);
    }

    .resume--main-job-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 16px;
        min-width: 0px;
    }

    .resume--main-job-title {
        font-size: var(--fs-sub-head);
        font-weight: var(--fw-light);
        color: var(--clr-light-bg);
        background-color: var(--clr-headings);
        padding: 12px;
        min-width: 0;
    }

    .resume--main-job-blank {
        background-color: var(--clr-light-bg);
        min-width: 0px;
    }

    .resume--main-contact-container {
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 24px;
        justify-content: space-between;
        margin-top: 12px;
        min-width: 0;
    }

    .resume--main-contact-link {
        text-decoration: none;
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        color: var(--clr-primary);
        min-width: 0;
        word-wrap: break-word;
    }

    .resume--main-contact-link:hover {
        text-decoration: underline;
    }

    .resume--header {
        color: var(--clr-headings);
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        margin-top: -16px;
    }

    .resume--jobs-container {
        margin-top: 60px;
    }

    .resume--header-seperator {
        background-color: var(--clr-headings);
        height: 2px;
        border: none;
        margin-bottom: 24px;
    }

    .resume--project-title {
        font-size: var(--fs-sub-head);
        font-weight: var(--fw-semi);
        color: var(--clr-primary);
        text-decoration: none;
    }

    .resume--project-title:hover {
        text-decoration: underline;
    }

    .resume--project-blurb, .resume--project-list {
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        color: var(--clr-body-text);
        margin-top: 8px;
        margin-bottom: 32px;
    }
    .resume--project-list > li {
        margin-bottom: 20px;
    }

    .resume--job-date-container {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
    }

    .resume--job-company {
        color: var(--clr-headings);
        font-size: var(--fs-sub-head);
        font-weight: var(--fw-bold);
    }

    .resume--job-date, .resume--job-title {
        color: var(--clr-headings);
        font-size: var(--fs-sub-head);
        font-weight: var(--fw-reg);
    }
    
}


/*/////////////////////////////////////
    Footer/Contact Section
/////////////////////////////////////*/

/*************************************
small screens
*************************************/
@media (max-width: 800px) {
    .footer--container {
        display: flex;
        background-color: var(--clr-white);
        margin-top: 40px;
        box-shadow: -0.25em -0.25em 0.75em rgba(0,0,0,.25),
                    -0.125em -0.125em 0.25em rgba(0,0,0,.15);
    }

    .footer--contact-container {
        width: 80vw;
        margin-left: 10vw;
    }
}

/*************************************
large screens
*************************************/
@media (min-width: 800px) {
    .footer--container {
        background-color: var(--clr-white);
        padding-top: 12px;
        margin-top: 40px;
        box-shadow: -0.25em -0.25em 0.75em rgba(0,0,0,.25),
                    -0.125em -0.125em 0.25em rgba(0,0,0,.15);
        bottom: 0;
    }

}


/*/////////////////////////////////////
    Project Case Studies
/////////////////////////////////////*/

.project-1 {
    margin-top: 200px;
}