*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-reg: 400;
    --fw-semi: 600;
    --fw-bold: 900;

    --clr-light-bg: #F0EDF4;
    --clr-headings: #3A3461;
    --clr-body-text: #5b6b79;
    --clr-disabled: #BA9FAA;
    --clr-hover: #ED277C;
    --clr-primary: #9F496E;
    --clr-secondary: #BBB3D3;
    --clr-backup: #334980;
    --clr-white: #ffffff;
    
    --fs-h1: 40px;
    --fs-h2: 24px;
    --fs-h3: 1.25rem;
    --fs-body: 22px;
    --fs-body-sm: 16px;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

/* 
/////////////////////////////////////////
        General Styles
////////////////////////////////////////
 */
html {
    scroll-behavior: smooth;
}

body {
    background: var(--clr-light-bg);
    color: var(--clr-body-text);
    margin: 0;
    font-family: var(--ff-primary);
    font-size: var(--fs-body);
    line-height: 1.6;
    min-width: 800px;
}

img {
    display: block;
    max-width: 100%;
}

.seperator {
    border: 0 none;
    background-color: var(--clr-backup);
    width: 82vw;
    height: 1.5px;
    margin-left: 9vw;
    margin-top: 32px;
    margin-bottom: -6px;
}

button {
    padding-left: 16px;
    padding-right: 16px;
}

/* 
/////////////////////////////////////////
            Typography
////////////////////////////////////////
 */
h1,
h2,
h3 {
    line-height: 1.1;
    margin: 0;
}

h1 { font-size: var(--fs-h1) }
h2 { font-size: var(--fs-h2) }
h3 { font-size: var(--fs-h3) }

 
/*///////////////////////////////////////
        Header and NavBar
///////////////////////////////////////*/

/***************************************
mobile and small screens 
***************************************/
@media (max-width: 800px) {
    .header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
        background-color: var(--clr-white);
        box-shadow: var(--bs);
        height: 60px;
        display: flex;
        justify-content: space-between;
        padding: 1em;
        z-index: 100;
    }

    .nav {
        position: fixed;
        background: var(--clr-secondary);
        color: var(--clr-headings);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;

        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(.5, 0, .5 1);
    }

    .nav--list {
        list-style: none;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .nav--link {
        text-decoration: none;
        font-size: var(--fs-h2);
        font-weight: var(--fw-bold);
        color: inherit;
    }

    .nav-toggle {
        padding: .5em;
        background: transparent;
        border: 0;
        cursor: pointer;
        position: absolute;
        right: 1em;
        top: 1em;
        z-index: 1000;
    }
    
    .nav-open .nav {
        transform: translateX(0);
    }
    
    .nav-open .nav-toggle {
        position: fixed;
    }
    
    .nav-open .hamburger {
        transform: rotate(.625turn);
    }
    
    .nav-open .hamburger::before {
        transform: rotate(90deg) translateX(-6px);
    }
    
    .nav-open .hamburger::after {
        opacity: 0;
    }
    
    .hamburger {
        display: block;
        position: relative;
    }
    .hamburger,
    .hamburger::before,
    .hamburger::after {
        background: var(--clr-primary);
        width: 2em;
        height: 3px;
        border-radius: 1em;
    
        transition: transform 250ms ease-in-out;
    }
    
    .hamburger::before,
    .hamburger::after {
        content: '';
        position: absolute;
        left: 0;
        right: 0;
    }
    
    .hamburger::before { top: 6px; }
    .hamburger::after {bottom: 6px; }

    .logo--text {
        font-family: var(--ff-primary);
        font-size: var(--fs-h2);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }
}

/***************************************
Larger screens
***************************************/
@media (min-width: 800px) {
    .header {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        padding: 1em;
        background-color: var(--clr-white);
        box-shadow: var(--bs);
        height: 80px;
        top: 0;
        left: 0;
        right: 0;
        position: fixed;
        z-index: 100;
    }

    .logo--text {
        font-family: var(--ff-primary);
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        line-height: 1.1em;
        color: var(--clr-headings);
        display: inline;
        padding-left: 32px;
    }

    .nav {
        display: inline;
        padding-top: 8px;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    .nav--list {
        list-style: none;
        display: flex;
        justify-content: right;
        align-items: center;
        margin: 0;
        padding: 0;
    }

    .nav--link {
        color: inherit;
        font-weight: var(--fw-semi);
        font-size: var(--fs-h2);
        text-decoration: none;
        margin-left: 12px;
        margin-right: 12px;
    }

    .nav--link:hover {
        color: var(--clr-hover);
        font-weight: var(--fw-bold);
    }

    .nav-toggle {
        opacity: 0;
    }
}

/*//////////////////////////////////////
            About Me Section 
 /////////////////////////////////////*/

/***************************************
mobile and small screens 
***************************************/
@media (max-width: 800px) {
    /* About me home page section cards */
    .container--about-me,
    .featured-container {
        background-color: var(--clr-white);
        border-radius: 40px;
        margin-top: 100px;
        margin-left: 7vw;
        padding-bottom: 12px;
        max-width: 86vw;
        box-shadow: var(--bs);
    }

    .featured-container {
        margin-top: 32px;
    }
    
    .about-me--logo-container {
        display: flex;
        justify-content: center;
    }

    .logo--about-me {
        width: 320px;
    }

    .about-me--title {
        margin-left: 24px;
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }

    .about-me--subtitle {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 8px;
        font-size: var(--fs-h2);
        font-weight: var(--fw-semi);
        color: var(--clr-headings);
    }

    .about-me--body {
        margin-top: 16px;
        margin-left: 24px;
        margin-right: 24px;
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        color: var(--clr-body-text);
    }

    .about-me--contact-title {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 32px;
        font-size: var(--fs-h2);
        font-weight: var(--fw-semi);
        color: var(--clr-headings);
    }

    .about-me--socials-list {
        display: grid;
        grid-template-columns: auto auto;
        list-style-type: none;
        justify-items: left;
    }

    .about-me--social-item {
        margin-bottom: 8px;
    }

    .about-me--social-item > a {
        color: var(--clr-body-text);
        font-size: var(--fs-body);
        font-weight: var(--fw-semi);
        text-decoration: none;
    }

    a:hover {
        color: var(--clr-hover);
    }

}


/***************************************
Large screens 
***************************************/
@media (min-width: 800px) {
    .container--about-me {
        display: grid;
        grid-template-columns: 1fr 2fr;
        grid-column-gap: 12px;
        background-color: var(--clr-white);
        border-radius: 40px;
        max-width: 86vw;
        min-height: 400px;
        margin-left: 7vw;
        margin-top: 120px;
        box-shadow: var(--bs);
    }

    
    .logo--about-me {
        position: relative;
        margin-top: 32px;
        margin-left: 40px;
        grid-row: 1/5;
        max-width: 320px;
    }
    .about-me--main {
        display: inline-block;
        margin-top: 32px;
        margin-left: 24px;
        margin-right: 40px;
    }

    .about-me--title {
        color: var(--clr-headings);
        margin-top: 32px;
        grid-row: 1/2;
        grid-column: 2;
    }

    .about-me--subtitle {
        color: var(--clr-body-text);
        white-space: wrap;
        grid-row: 2/3;
        grid-column: 2;
        max-width: 50vw;
        margin-top: 12px;
        margin-right: 20px;
    }

    .about-me--body {
        white-space: pre-wrap;
        grid-row: 2;
        grid-column: 3/6;
        font-family: var(--ff-primary);
        font-weight: var(--fw-reg);
        font-size: var(--fs-body);
    }

    .about-me--links {
        grid-row: 4/7;
    }
    .about-me--contact-title {
        color: var(--clr-headings);
        margin-left: 36px;
        grid-column-start: 1;
        grid-column-end: 2;
    }

    .about-me--socials-list {
        display: flex;
        justify-content: space-between;
        grid-row: 6/7;
        grid-column: -1/1;
        list-style-type: none;
        margin-right: 36px;
    }

    .about-me--social-item > a {
        color: var(--clr-body-text);
        text-decoration: none;
    }

    a:hover {
        color: var(--clr-hover);
    }
}


/*/////////////////////////////////////
    Featured Projects Section
/////////////////////////////////////*/

/*************************************
small screens
*************************************/
@media (max-width: 800px) {
    .featured-container {
        background-color: var(--clr-white);
        border-radius: 40px;
        max-width: 86vw;
        margin-left: 7vw;
        margin-top: 36px;
        box-shadow: var(--bs);
        padding: 32px;
    }

    .featured-top-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
    }

    .featured-title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }

    .featured-see-all {
        background-color: transparent;
        color: var(--clr-primary);
        font-size: var(--fs-body);
        font-weight: var(--fw-semi);
        border-radius: 12px;
        border: 2px solid var(--clr-primary);
    }

    .project-card {
        background-color: var(--clr-white);
        border-radius: 40px;
        box-shadow:0px 0px 0px 3px black inset;
        z-index: 10;
        padding-bottom: 20px;
        margin-top: 32px;
    }

    .featured-cards-container {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .project-card:hover {
        box-shadow: 10px 10px var(--clr-hover), 0px 0px 0px 3px black inset, 10px 10px 0px 3px black;
    }

    .featured-see-all:hover {
        margin: -6px 6px 6px -6px;
        box-shadow: 4px 4px var(--clr-hover);
    }

    .project-image {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        border-radius: 40px 40px 0 0;
        border: 3px solid black;
    }

    .project-title {
        font-size: var(--fs-h2);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
        margin-left: 30px;
        margin-top: 24px;
    }

    .project-headline {
        font-size: var(--fs-body);
        font-weight: var(--fw-semi);
        color: var(--clr-body-text);
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 8px;
        margin-bottom: 30px;
    }

}


/*************************************
Large screens
*************************************/
@media (min-width: 800px) {
    .featured-container {
        background-color: var(--clr-white);
        border-radius: 40px;
        max-width: 86vw;
        min-height: 600px;
        margin-left: 7vw;
        margin-top: 36px;
        box-shadow: var(--bs);
        padding: 40px;
    }

    .featured-top-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .featured-title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }

    .featured-see-all {
        background-color: transparent;
        color: var(--clr-primary);
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        border-radius: 10px;
        border: 3px solid var(--clr-primary);
    }

    .featured-cards-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .project-card {
        background-color: var(--clr-white);
        border-radius: 40px;
        box-shadow:0px 0px 0px 3px black inset;
        width: 25vw;
        z-index: 10;
    }

    .project-card:hover {
        margin: -10px 10px 10px -10px;
        box-shadow: 10px 10px var(--clr-hover), 0px 0px 0px 3px black inset, 10px 10px 0px 3px black;
    }

    .featured-see-all:hover {
        margin: -6px 6px 6px -6px;
        box-shadow: 6px 6px var(--clr-hover);
    }

    .project-image {
        width: inherit;
        height: auto;
        border-radius: 40px 40px 0 0;
        border: 3px solid black;
    }

    .project-title {
        font-size: var(--fs-h2);
        font-weight: var(--fw-semi);
        color: var(--clr-headings);
        margin-left: 30px;
        margin-top: 24px;
    }

    .project-headline {
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        color: var(--clr-body-text);
        margin-left: 30px;
        margin-right: 30px;
        margin-top: 8px;
        margin-bottom: 30px;
    }

}


/*/////////////////////////////////////
    Art Gallery Section
/////////////////////////////////////*/

/*************************************
small screens
*************************************/
@media (max-width: 800px) {
    .art-gallery--container {
        background-color: var(--clr-white);
        border-radius: 40px;
        max-width: 86vw;
        margin-left: 7vw;
        margin-top: 36px;
        box-shadow: var(--bs);
        padding: 32px;
    }

    .art-gallery--top-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .art-gallery--title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }

    .art-gallery--see-all {
        background-color: transparent;
        color: var(--clr-primary);
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        border-radius: 10px;
        border: 3px solid var(--clr-primary);
    }

    .art-gallery--see-all:hover {
        margin: -6px 6px 6px -6px;
        box-shadow: 6px 6px var(--clr-hover);
    }

    .art-gallery--grid-container {
        display: grid;
        place-items: center;
        align-items: center;
        grid-template-columns: auto auto;
        grid-gap: 20px 20px;
    }

    .gallery-image--home {
        object-fit: cover;
        width: 100%;
        max-height: 100%;
        border-radius: 20px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 3px solid black;
    }

    .gallery-image--home:hover {
        margin: -6px 6px 6px -6px;
        box-shadow: 6px 6px var(--clr-hover), 0px 0px 0px 3px black inset, 6px 6px 0px 3px black;
    }
}

/*************************************
large screens
*************************************/
@media (min-width: 800px) {
    .art-gallery--container {
        background-color: var(--clr-white);
        border-radius: 40px;
        max-width: 86vw;
        margin-left: 7vw;
        margin-top: 36px;
        box-shadow: var(--bs);
        padding: 32px;
    }

    .art-gallery--top-line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 40px;
    }

    .art-gallery--title {
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }

    .art-gallery--see-all {
        background-color: transparent;
        color: var(--clr-primary);
        font-size: var(--fs-body);
        font-weight: var(--fw-reg);
        border-radius: 10px;
        border: 3px solid var(--clr-primary);
    }

    .art-gallery--see-all:hover {
        margin: -6px 6px 6px -6px;
        box-shadow: 6px 6px var(--clr-hover);
    }

    .art-gallery--grid-container {
        display: grid;
        place-items: center;
        align-items: center;
        grid-template-columns: auto auto auto;
        grid-gap: 40px 40px;
        margin-bottom: 12px;
    }

    .gallery-image--home {
        object-fit: cover;
        width: 700px;
        border-radius: 40px;
        overflow: hidden;
        margin: 0;
        padding: 0;
        border: 4px solid black;
    }

    .gallery-image--home:hover {
        margin: -10px 10px 10px -10px;
        box-shadow: 10px 10px var(--clr-hover), 0px 0px 0px 3px black inset, 10px 10px 0px 3px black;
    }

}

/*/////////////////////////////////////
    Footer/Contact Section
/////////////////////////////////////*/

/*************************************
small screens
*************************************/
@media (max-width: 800px){
    .footer--container {
        background-color: var(--clr-white);
        margin-top: 40px;
        box-shadow: -0.25em -0.25em 2em rgba(0,0,0,.15),
                    -0.125em -0.125em 0.5em rgba(0,0,0,.10);
        width: 100%;
        overflow: hidden;
    }

    .footer--top-line {
        width: 100vw;
    }
}
