


/*/////////////////////////////////////
    Resume Section
/////////////////////////////////////*/
/*************************************
small screens
*************************************/


/*************************************
large screens
*************************************/
@media (min-width: 800px) {


    
}


/*/////////////////////////////////////
    Footer/Contact Section
/////////////////////////////////////*/

/*************************************
small screens
*************************************/
@media (max-width: 800px) {
    .footer--container {
        display: flex;
        background-color: var(--clr-white);
        margin-top: 40px;
        box-shadow: -0.25em -0.25em 0.75em rgba(0,0,0,.25),
                    -0.125em -0.125em 0.25em rgba(0,0,0,.15);
    }

    .footer--contact-container {
        width: 80vw;
        margin-left: 10vw;
    }
}

/*************************************
large screens
*************************************/
@media (min-width: 800px) {
    .footer--container {
        background-color: var(--clr-white);
        padding-top: 12px;
        margin-top: 40px;
        box-shadow: -0.25em -0.25em 0.75em rgba(0,0,0,.25),
                    -0.125em -0.125em 0.25em rgba(0,0,0,.15);
        bottom: 0;
    }

}


/*/////////////////////////////////////
    Project Case Studies
/////////////////////////////////////*/

.project-1 {
    margin-top: 200px;
}