:root {

    font-size: 16px;

    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-semi: 600;
    --fw-bold: 900;

    --clr-light-bg: #e3dfe8;
    --clr-headings: #3A3461;
    --clr-body-text: #5b6b79;
    --clr-disabled: #BA9FAA;
    --clr-hover: #ED277C;
    --clr-primary: #9F496E;
    --clr-secondary: #BBB3D3;
    --clr-backup: #334980;
    --clr-white: #ffffff;
    
    --fs-h1: 2.5rem;
    --fs-sub-head: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.375;
    --fs-body-sm: 1rem;
    --fs-xl: 3.75rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --bs-solid: 6px 6px 0 0 black;
}

.container--about-me {
    background-color: var(--clr-white);
    border-radius: 30px;
    margin-top: 100px;
    margin-left: 8vw;
    padding-bottom: 12px;
    max-width: 84vw;
    box-shadow: 8px 8px 0 0 black;
    outline: 3px solid black;
    overflow: hidden;
}

.about-top-bar {
    width: 100%;
    height: 2.5rem;
    background-color: var(--clr-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom: 2.5px solid black;
}

.about-line {
    width: 90%;
    height: 3.5px;
    background-color: black;
    border-radius: 2px;
    margin: 2px 0;
}

.about-me--logo-container {
    display: flex;
    justify-content: center;
}

.about-me--title {
    display: inline;
    padding-left: 6px;
    padding-right: 6px;
    background-color: var(--clr-secondary);
}

.about-me--title {
    margin-left: 24px;
    font-size: var(--fs-h1);
    font-weight: var(--fw-bold);
    color: var(--clr-headings);
}

.about-me--subtitle {
    margin-left: 24px;
    margin-right: 24px;
    margin-top: 8px;
    font-size: var(--fs-h2);
    font-weight: var(--fw-semi);
    color: var(--clr-headings);
}

.about-me--body {
    font-size: var(--fs-body);
    font-weight: var(--fw-reg);
    color: var(--clr-body-text);
}

.contact--contact-title {
    display: flex;
    justify-content: center;
    font-size: var(--fs-h1);
    font-weight: var(--fw-semi);
    color: var(--clr-headings);
}

.contact--social-item > a {
    color: var(--clr-primary);
    font-size: var(--fs-h1);
    text-decoration: none;
}

a:hover {
    color: var(--clr-hover);
}


@media (min-width: 320px) and (max-width: 479px) {
    /* Styles for extra small devices */
    .container--about-me {
        box-shadow: 6px 6px 0 0 black;
        outline: 2.2px solid black;
    }

    .about-top-bar {
        border-bottom: 2.2px solid black;
    }

    .about-line {
        width: 85%;
        height: 3px;
    }

    .logo--about-me {
        max-width: 100%;
    }

    .about-me--subtitle {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 8px;
    }

    .about-me--body {
        margin-top: 16px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .contact--contact-title {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 40px;
    }

    .contact--socials-list {
        display: grid;
        grid-template-columns: auto auto auto;
        list-style-type: none;
        justify-content: center;
        padding-left: 17vw;
        padding-right: 17vw;
        grid-column-gap: 12vw;
    }

    .contact--social-item {
        margin-bottom: 16px;
    }
  }
  
  /* Small devices (landscape phones) */
  @media (min-width: 480px) and (max-width: 767px){
    /* Styles for small devices */
    .container--about-me {
        border-radius: 40px;
        margin-top: 120px;
        margin-left: 8vw;
        padding-bottom: 12px;
        max-width: 84vw;
        box-shadow: 8px 8px 0 0 black;
    }

    .about-top-bar {
        border-bottom: 3px solid black;
    }

    .about-line {
        height: 3px;
        border-radius: 4px;
        width: 82%;
    }

    .about-me--title {
        margin-left: 24px;
    }

    .about-me--subtitle {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 8px;
    }

    .about-me--body {
        margin-top: 16px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .contact--contact-title {
        display: flex;
        justify-content: left;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 40px;
        font-size: 2.5rem;
    }

    .contact--socials-list {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        list-style-type: none;
        justify-content: left;
        grid-column-gap: 7vw;
        margin-left: -12px;
    }

    .contact--social-item > a {
        font-size: 2rem;
    }
  }
  
  /* Medium devices (tablets, portrait) */
  @media (min-width: 768px) and (max-width: 1023px){
    /* Styles for medium devices */
    .container--about-me {
        border-radius: 40px;
        margin-top: 120px;
        margin-left: 8vw;
        padding-bottom: 12px;
        max-width: 84vw;
        box-shadow: 8px 8px 0 0 black;
        outline: 3px solid black;
    }

    .about-top-bar {
        border-bottom: 3px solid black;
    }

    .about-line {
        height: 3px;
        border-radius: 4px;
        width: 85%;
    }

    .about-me--title {
        margin-left: 24px;
    }

    .about-me--subtitle {
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 8px;
    }

    .about-me--body {
        margin-top: 16px;
        margin-left: 24px;
        margin-right: 24px;
    }

    .contact--contact-title {
        display: flex;
        justify-content: left;
        margin-left: 24px;
        margin-right: 24px;
        margin-top: 40px;
    }

    .contact--socials-list {
        display: grid;
        grid-template-columns: auto auto auto auto auto auto;
        list-style-type: none;
        justify-content: left;
        grid-column-gap: 8vw;
        margin-left: -12px;
    }

    .contact--social-item > a {
        font-size: 2.5rem;
    }
  }
  
  /* Large devices (tablets, landscape / small laptops) */
  @media (min-width: 1024px) and (max-width: 1199px){
    /* Styles for large devices */
    .container--about-me {
        border-radius: 40px;
        max-width: 86vw;
        margin-top: 140px;
        margin-left: 7vw;
        box-shadow: 12px 12px 0 0 black;
        outline: 3px solid black;
    }

    .about-top-bar {
        border-bottom: 3px solid black;
    }

    .about-line {
        height: 3px;
        border-radius: 4px;
        width: 90%;
    }

    .about-me--main-container{
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 2fr;
        padding: 20px 32px 0px 32px;
        margin-bottom: 0px;
    }
    
    .about-me--main {
        padding: 24px;
    }

    .about-me--title {
        margin-bottom: 16px;
    }

    .about-me--subtitle {
        margin-bottom: 24px;
    }

    .about-me--body {
        margin-left: 28px;
    }

    .contact--contact-title {
        display: flex;
        justify-content: left;
        margin-left: 32px;
        margin-right: 24px;
        margin-top: 0px;
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }

    .contact--socials-list {
        display: flex;
        list-style-type: none;
        justify-content: center;
        padding-left: 25vw;
        padding-right: 25vw;
        grid-column-gap: 10vw;
    }

    .contact--social-item {
        margin-bottom: 0px;
    }

    .contact--social-item > a {
        font-size: var(--fs-h1);
    }
  }
  
  /* Extra large devices (laptops, desktops) */
  @media (min-width: 1200px) and (max-width: 1439px){
    /* Styles for extra large devices */
    .container--about-me {
        border-radius: 40px;
        max-width: 86vw;
        margin-top: 120px;
        margin-left: 7vw;
        box-shadow: 12px 12px 0 0 black;
        outline: 3px solid black;
    }

    .about-top-bar {
        border-bottom: 3px solid black;
    }

    .about-line {
        width: 93%;
        height: 3px;
    }

    .about-me--main-container{
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 2.5fr;
        padding: 20px 32px 0px 32px;
    }
    
    .about-me--main {
        padding: 28px;
    }

    .about-me--subtitle {
        margin-bottom: 24px;
    }

    .about-me--body {
        margin-left: 24px;
    }

    .contact--contact-title {
        display: flex;
        justify-content: left;
        margin-left: 32px;
        margin-right: 24px;
    }

    .contact--socials-list {
        display: flex;
        list-style-type: none;
        justify-content: center;
        padding-left: 25vw;
        padding-right: 25vw;
        grid-column-gap: 10vw;
    }

    .contact--social-item {
        margin-bottom: 0px;
    }

    .contact--social-item > a {
        font-size: var(--fs-h1);
    }
  }
  
  /* XXL devices (large desktops) */
  @media (min-width: 1440px) and (max-width: 1919px) {
    /* Styles for XXL devices */
    .container--about-me {
        border-radius: 40px;
        max-width: 86vw;
        margin-top: 140px;
        margin-left: 7vw;
        box-shadow: 12px 12px 0 0 black;
        outline: 3px solid black;
    }

    .about-top-bar {
        border-bottom: 3px solid black;
    }

    .about-line {
        width: 93%;
        height: 3px;
    }

    .about-me--main-container{
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 2.5fr;
        padding: 20px 32px 0px 32px;
    }
    
    .about-me--main {
        padding: 32px;
    }

    .about-me--subtitle {
        margin-bottom: 24px;
    }

    .about-me--body {
        margin-left: 24px;
    }

    .contact--contact-title {
        display: flex;
        justify-content: left;
        margin-left: 32px;
        margin-right: 24px;
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }

    .contact--socials-list {
        display: flex;
        list-style-type: none;
        justify-content: center;
        padding-left: 25vw;
        padding-right: 25vw;
        grid-column-gap: 10vw;
    }

    .contact--social-item {
        margin-bottom: 0;
    }

    .contact--social-item > a {
        font-size: 3rem;
    }
  }
  
  /* Ultra large devices (4K screens) */
  @media (min-width: 1920px) {
    /* Styles for ultra large devices */
    .container--about-me {
        border-radius: 30px;
        max-width: 86vw;
        margin-top: 140px;
        margin-left: 7vw;
        box-shadow: 12px 12px 0 0 black;
        outline: 3px solid black;
    }

    .about-top-bar {
        border-bottom: 3px solid black;
    } 

    .about-line {
        width: 95%;
        height: 3px;
    }

    .about-me--main-container{
        display: grid;
        align-items: center;
        justify-items: center;
        grid-template-columns: 1fr 2.5fr;
        padding: 20px 32px 0px 32px;
    }

    .about-me--main {
        padding: 24px;
    }

    .about-me--subtitle {
        padding-top: 8px;
        margin-bottom: 24px;
    }

    .about-me--body {
        margin-left: 24px;
    }

    .contact--contact-title {
        display: flex;
        justify-content: left;
        margin-left: 48px;
        margin-right: 24px;
        font-size: var(--fs-h1);
        font-weight: var(--fw-bold);
        color: var(--clr-headings);
    }

    .contact--socials-list {
        display: flex;
        list-style-type: none;
        justify-content: center;
        padding-left: 25vw;
        padding-right: 25vw;
        grid-column-gap: 12vw;
    }

    .contact--social-item {
        margin-bottom: 8px;
    }

    .contact--social-item > a {
        font-size: 3rem;
    }
  }
