:root {
    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-semi: 600;
    --fw-bold: 900;

    --clr-light-bg: #e3dfe8;
    --clr-headings: #3A3461;
    --clr-body-text: #5b6b79;
    --clr-disabled: #BA9FAA;
    --clr-hover: #ED277C;
    --clr-primary: #9F496E;
    --clr-secondary: #BBB3D3;
    --clr-backup: #334980;
    --clr-white: #ffffff;
    
    --fs-h1: 40px;
    --fs-sub-head: 32px;
    --fs-h2: 24px;
    --fs-h3: 1.25rem;
    --fs-body: 22px;
    --fs-body-sm: 16px;
    --fs-xl: 60px;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}


@media (min-width: 320px) and (max-width: 479px) {
  /* Styles for extra small devices */
}

/* Small devices (landscape phones) */
@media (min-width: 480px) and (max-width: 767px){
  /* Styles for small devices */
}

/* Medium devices (tablets, portrait) */
@media (min-width: 768px) and (max-width: 1023px){
  /* Styles for medium devices */
}

/* Large devices (tablets, landscape / small laptops) */
@media (min-width: 1024px) and (max-width: 1199px){
  /* Styles for large devices */
}

/* Extra large devices (laptops, desktops) */
@media (min-width: 1200px) and (max-width: 1439px){
  /* Styles for extra large devices */
}

/* XXL devices (large desktops) */
@media (min-width: 1440px) and (max-width: 1919px){
  /* Styles for XXL devices */
}

/* Ultra large devices (4K screens) */
@media (min-width: 1920px) {
  /* Styles for ultra large devices */
}
