:root {
  font-size: 16px;

  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-semi: 600;
  --fw-bold: 900;

  --clr-light-bg: #e3dfe8;
  --clr-headings: #3A3461;
  --clr-body-text: #5b6b79;
  --clr-disabled: #BA9FAA;
  --clr-hover: #ED277C;
  --clr-primary: #9F496E;
  --clr-secondary: #BBB3D3;
  --clr-backup: #334980;
  --clr-white: #ffffff;
  
  --fs-h1: 2.5rem;
  --fs-sub-head: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-body: 1.375;
  --fs-body-sm: 1rem;
  --fs-xl: 3.75rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);

  --bs-solid: 6px 6px 0 0 black;
}

.art-gallery--container {
  background-color: var(--clr-white);
  border-radius: 40px;
  max-width: 86vw;
  margin-left: 7vw;
  margin-top: 36px;
  box-shadow: 12px 12px 0 0 black, 0 0 0 3px black;
  overflow: hidden;
}

.art-gallery-top-bar {
  width: 100%;
  height: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
}

.art-gallery-line {
  width: 93%;
  height: 3px;
  background-color: black;
  border-radius: 2px;
  margin: 2px 0;
}

.art-gallery--top-line {
  display: flex;
  justify-content: space-between;
}

.art-gallery--title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  color: var(--clr-headings);
  background-color: var(--clr-secondary);
  padding: 2px 8px;
}

.art-gallery--see-all {
  background-color: transparent;
  color: var(--clr-primary);
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  border-radius: 10px;
  border: 3px solid var(--clr-primary);
}

.art-gallery--see-all:hover {
  margin-top: 8px;
  margin-right: 12px;
  margin-bottom: 4px;
  box-shadow: 4px 4px var(--clr-hover);
}

.art-gallery--grid-container {
  display: grid;
  place-items: center;
  align-items: center;
  grid-template-columns: auto auto auto auto;
  grid-gap: 40px 40px;
  margin-bottom: 12px;
}

.gallery-image--home {
  object-fit: cover;
  width: 700px;
  border-radius: 40px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 4px solid black;
}

.gallery-image--home:hover {
  margin: -10px 10px 10px -10px;
  box-shadow: 10px 10px var(--clr-hover), 0px 0px 0px 3px black inset, 10px 10px 0px 3px black;
}

/* Small devices (landscape phones) */
@media (min-width: 320px) and (max-width: 767px){
  /* Styles for small devices */
  .art-gallery--container {
    max-width: 84vw;
    margin-left: 8vw;
    box-shadow: 8px 8px 0 0 black, 0 0 0 3px black;
  }

  .art-gallery-line {
      width: 82%;
  }

  .art-gallery--top-line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      padding: 16px
  }

  .art-gallery--title {
      font-size: 1.6rem;
      padding: 6px 12px 6px 12px;
      margin-bottom: 12px;
      font-weight: var(--fw-semi);
  }

  .art-gallery--see-all {
    font-size: var(--fs-body);
    font-weight: var(--fw-semi);
    padding: 0.2rem 0.5rem;
    margin: 0 0 0.8rem 0.5rem;
    border: 2px solid var(--clr-primary);
  }

  .art-gallery--see-all:hover {
      margin: -0.4rem 0 1rem 0.5rem;
  }

  .art-gallery-skills {
    margin: -1.5rem 12px 24px 12px;
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);
    color: var(--clr-headings);
  }

  .art-gallery--grid-container {
      grid-template-columns: auto auto;
      grid-gap: 1rem 1rem;
      padding-left: .8rem;
      padding-right: .8rem;
      margin-bottom: 2.5rem;
  }

  .gallery-image--home {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
      border-radius: 16px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 3px solid black;
  }

  .gallery-image--home:hover {
      margin: -6px 4px 4px -6px;
      box-shadow: 4px 4px var(--clr-hover), 4px 4px 0px 2.5px black;
  }

}

/* Medium devices (tablets, portrait) */
@media (min-width: 768px) and (max-width: 1023px){
  /* Styles for medium devices */
  .art-gallery--container {
    max-width: 84vw;
    margin-left: 8vw;
    box-shadow: 8px 8px 0 0 black, 0 0 0 3px black;
  }

  .art-gallery-line {
      width: 85%;
  }

  .art-gallery--top-line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      padding: 24px
  }

  .art-gallery--title {
      font-size: var(--fs-sub-head);
      padding: 8px 12px 8px 12px;
      margin-bottom: 8px;
      font-weight: var(--fw-semi);
  }

  .art-gallery--see-all {
      font-size: var(--fs-h3);
      font-weight: var(--fw-reg);
      border-radius: 12px;
      padding: 4px 24px;
      margin-top: 4px;
      border: 2px solid var(--clr-primary);
      height: 2.8rem;
  }

  .art-gallery--see-all:hover {
      margin: 0 0.3rem;
  }

  .art-gallery-skills {
    margin: -36px 12px 24px 24px;
    font-size: var(--fs-h3);
    font-weight: var(--fw-reg);
    color: var(--clr-headings);
  }

  .art-gallery--grid-container {
      grid-template-columns: auto auto auto;
      grid-gap: 1.5rem 1.5rem;
      padding-left: 1.5rem;
      padding-right: 1.55rem;
      margin-bottom: 2.5rem;
  }

  .gallery-image--home {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
      border-radius: 16px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 3px solid black;
  }

  .gallery-image--home:hover {
      margin: -8px 4px 4px -8px;
      box-shadow: 6px 6px var(--clr-hover), 7px 7px 0px 2px black;
  }
}

/* Large devices (tablets, landscape / small laptops) */
@media (min-width: 1024px) and (max-width: 1199px){
  /* Styles for large devices */
  .art-gallery--container {
    max-width: 86vw;
    margin-left: 7vw;
    box-shadow: 12px 12px 0 0 black, 0 0 0 3px black;
  }

  .art-gallery-line {
      width: 92%;
  }

  .art-gallery--top-line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      padding: 24px
  }

  .art-gallery--title {
      font-size: var(--fs-h1);
      padding: 8px 12px 8px 12px;
      margin-bottom: 8px;
      font-weight: var(--fw-semi);
  }

  .art-gallery--see-all {
      font-size: var(--fs-h2);
      font-weight: var(--fw-semi);
      border-radius: 12px;
      padding: 8px 24px;
      height: 3.8rem;
      margin-top: 4px;
      border: 2px solid var(--clr-primary);
  }

  .art-gallery--see-all:hover {
      margin: 0;
  }

  .art-gallery-skills {
    margin: -36px 12px 24px 24px;
    font-size: var(--fs-h2);
    font-weight: var(--fw-reg);
    color: var(--clr-headings);
  }

  .art-gallery--grid-container {
      grid-template-columns: auto auto auto auto;
      grid-gap: 1.2rem 1.2rem;
      padding-left: 1.5rem;
      padding-right: 1.55rem;
      margin-bottom: 2.5rem;
  }

  .gallery-image--home {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
      border-radius: 24px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 3px solid black;
  }

  .gallery-image--home:hover {
      margin: -8px 4px 4px -8px;
      box-shadow: 6px 6px var(--clr-hover), 7px 7px 0px 2px black;
  }
}

/* Extra large devices (laptops, desktops) */
@media (min-width: 1200px) and (max-width: 1439px){
  /* Styles for extra large devices */
  .art-gallery--container {
    max-width: 86vw;
    margin-left: 7vw;
    box-shadow: 12px 12px 0 0 black, 0 0 0 3px black;
  }

  .art-gallery-line {
      width: 92%;
  }

  .art-gallery--top-line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      padding: 24px
  }

  .art-gallery--title {
      font-size: var(--fs-h1);
      padding: 8px 12px 8px 12px;
      margin-bottom: 8px;
      font-weight: var(--fw-semi);
  }

  .art-gallery--see-all {
      font-size: var(--fs-h2);
      font-weight: var(--fw-semi);
      border-radius: 12px;
      padding: 8px 24px;
      height: 3.8rem;
      margin-top: 4px;
      border: 2px solid var(--clr-primary);
  }

  .art-gallery--see-all:hover {
      margin: 0;
  }

  .art-gallery-skills {
    margin: -36px 12px 24px 24px;
    font-size: var(--fs-h2);
    font-weight: var(--fw-reg);
    color: var(--clr-headings);
  }

  .art-gallery--grid-container {
      grid-template-columns: auto auto auto auto;
      grid-gap: 1.2rem 1.2rem;
      padding-left: 1.5rem;
      padding-right: 1.55rem;
      margin-bottom: 2.5rem;
  }

  .gallery-image--home {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
      border-radius: 24px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 3px solid black;
  }

  .gallery-image--home:hover {
      margin: -8px 4px 4px -8px;
      box-shadow: 6px 6px var(--clr-hover), 7px 7px 0px 2px black;
  }
}

/* XXL devices (large desktops) */
@media (min-width: 1440px) and (max-width: 1919px){
  /* Styles for XXL devices */
  .art-gallery--container {
    max-width: 86vw;
    margin-left: 7vw;
    box-shadow: 12px 12px 0 0 black, 0 0 0 3px black;
  }

  .art-gallery-line {
      width: 92%;
  }

  .art-gallery--top-line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      padding: 24px
  }

  .art-gallery--title {
      font-size: var(--fs-h1);
      padding: 8px 12px 8px 12px;
      margin-bottom: 8px;
      font-weight: var(--fw-semi);
  }

  .art-gallery--see-all {
      font-size: var(--fs-h2);
      font-weight: var(--fw-semi);
      border-radius: 12px;
      padding: 8px 24px;
      height: 3.8rem;
      margin-top: 4px;
      border: 2px solid var(--clr-primary);
  }

  .art-gallery--see-all:hover {
      margin: 0;
  }

  .art-gallery-skills {
    margin: -36px 12px 24px 24px;
    font-size: var(--fs-h2);
    font-weight: var(--fw-reg);
    color: var(--clr-headings);
  }

  .art-gallery--grid-container {
      grid-template-columns: auto auto auto auto;
      grid-gap: 1.2rem 1.2rem;
      padding-left: 1.5rem;
      padding-right: 1.55rem;
      margin-bottom: 2.5rem;
  }

  .gallery-image--home {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
      border-radius: 24px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 3px solid black;
  }

  .gallery-image--home:hover {
      margin: -8px 4px 4px -8px;
      box-shadow: 6px 6px var(--clr-hover), 7px 7px 0px 2px black;
  }
}

/* Ultra large devices (4K screens) */
@media (min-width: 1920px) {
  /* Styles for ultra large devices */
  .art-gallery--container {
    max-width: 86vw;
    margin-left: 7vw;
    box-shadow: 12px 12px 0 0 black, 0 0 0 3px black;
  }

  .art-gallery-line {
      width: 92%;
  }

  .art-gallery--top-line {
      display: flex;
      justify-content: space-between;
      margin-bottom: 16px;
      padding: 24px
  }

  .art-gallery--title {
      font-size: var(--fs-h1);
      padding: 8px 16px 8px 16px;
      margin-bottom: 8px;
      font-weight: var(--fw-semi);
  }

  .art-gallery--see-all {
      font-size: var(--fs-h2);
      font-weight: var(--fw-semi);
      border-radius: 12px;
      padding: 8px 24px;
      height: 3.8rem;
      margin-top: 4px;
      border: 2px solid var(--clr-primary);
  }

  .art-gallery--see-all:hover {
      margin: 0;
  }

  .art-gallery-skills {
    margin: -36px 12px 24px 24px;
    font-size: var(--fs-h2);
    font-weight: var(--fw-reg);
    color: var(--clr-headings);
  }

  .art-gallery--grid-container {
      grid-template-columns: auto auto auto auto;
      grid-gap: 1.2rem 1.2rem;
      padding-left: 1.5rem;
      padding-right: 1.55rem;
      margin-bottom: 2.5rem;
  }

  .gallery-image--home {
      object-fit: cover;
      width: 100%;
      max-height: 100%;
      border-radius: 24px;
      overflow: hidden;
      margin: 0;
      padding: 0;
      border: 3px solid black;
  }

  .gallery-image--home:hover {
      margin: -8px 4px 4px -8px;
      box-shadow: 6px 6px var(--clr-hover), 7px 7px 0px 2px black;
  }
}
