:root {
  font-size: 16px;

  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-semi: 600;
  --fw-bold: 900;

  --clr-light-bg: #e3dfe8;
  --clr-headings: #3A3461;
  --clr-body-text: #5b6b79;
  --clr-disabled: #BA9FAA;
  --clr-hover: #ED277C;
  --clr-primary: #9F496E;
  --clr-secondary: #BBB3D3;
  --clr-backup: #334980;
  --clr-white: #ffffff;
  
  --fs-h1: 2.5rem;
  --fs-sub-head: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-body: 1.375;
  --fs-body-sm: 1rem;
  --fs-xl: 3.75rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);

  --bs-solid: 6px 6px 0 0 black;
}

.featured-container {
  background-color: var(--clr-white);
  border-radius: 40px;
  margin-top: 32px;
  margin-left: 8vw;
  padding-bottom: 12px;
  max-width: 84vw;
  box-shadow: 12px 12px 0 0 black;
  outline: 3px solid black;
  overflow: hidden;
}

.featured-top-bar {
  width: 100%;
  height: 2.5rem;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 3px solid black;
}

.featured-line {
  width: 93%;
  height: 3px;
  background-color: black;
  border-radius: 2px;
  margin: 2px 0;
}

.featured-top-line {
  display: flex;
  justify-content: space-between;
  padding: 16px 24px 0;
}

.featured-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-semi);
  color: var(--clr-headings);
  background-color: var(--clr-secondary);
  padding: 6px 8px 0;
}

.featured-see-all {
  background-color: transparent;
  color: var(--clr-primary);
  font-size: var(--fs-h2);
  font-weight: var(--fw-semi);
  border-radius: 12px;
  border: 2px solid var(--clr-primary);
  margin: 12px 8px 0;
  padding: 8px 16px;
}

.featured-see-all:hover {
  margin-top: 8px;
  margin-right: 12px;
  margin-bottom: 4px;
  box-shadow: 4px 4px var(--clr-hover);
}

.featured-skills {
  margin: 16px 32px 0;
}

.featured-skills-list {
  font-size: var(--fs-h2);
  font-weight: var(--fw-reg);
  color: var(--clr-headings);
}

.featured-cards-container {
  display: flex;
  justify-content: space-between;
  gap: 1.5rem;
  margin: 0 24px 24px;
}

.project-card {
  background-color: var(--clr-white);
  border-radius: 40px;
  outline: 3px solid black;
  z-index: 10;
  margin-top: 32px;
  max-height:60vh;
  overflow: hidden;
}

.project-image {
  width: 100%;
  border-bottom: 3px solid black;
}

.project-card--text {
  height: 12vh;
}

.project-title {
  font-size: var(--fs-h2);
  font-weight: var(--fw-semi);
  color: var(--clr-headings);
  margin-left: 1.2rem;
  margin-top: 1.2rem;
}

.project-headline {
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  color: var(--clr-body-text);
  margin: 0.5rem 1.2rem 1.2rem 1rem;
  line-height: 1rem;
}

.project-card:hover {
  box-shadow: 0.75rem 0.75rem var(--clr-hover), 0.75rem 0.75rem 0 3px black;
  margin-top: 0.6rem;
}

@media (min-width: 320px) and (max-width: 479px) {
  /* Styles for extra small devices */
  .featured-container {
    box-shadow: 8px 8px 0 0 rgb(255, 0, 0);
    outline: 3px solid black;
    border-radius: 30px;
  }

  .featured-top-bar {
    border-bottom: 3px solid black;
  }

  .featured-line {
    width: 85%;
    height: 3px;
  }

  .featured-top-line {
    padding: 12px 8px 0 12px;
  }
  
  .featured-title {
    font-size: 1.2rem;
    padding: 8px 8px;
    margin-bottom: 12px;
  }
  
  .featured-see-all {
    font-size: 1rem;
    font-weight: var(--fw-semi);
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: 4px;
  }
  
  .featured-see-all:hover {
    margin-top: 2px;
  }
  
  .featured-skills {
    margin: 12px 12px auto;
  }
  
  .featured-skills-list {
    font-size: var(--fs-h3);
    margin-top: -6px;
  }

  .featured-cards-container {
    flex-direction: column;
    margin: 0 32px 48px;
  }
  
  .project-card {
    border-radius: 20px;
    outline: 3px solid black;
    margin-top: 32px;
    max-height:50vh;
    overflow: hidden;
  }
  
  .project-card--text {
    height: 14vh;
  }
  
  .project-title {
    margin-left: 0.8rem;
    margin-top: 0.8rem;
  }
  
  .project-headline {
    margin: 0.5rem 1rem 1rem 1rem;
    line-height: 1rem;
  }
  
  .project-card:hover {
    box-shadow: 0.75rem 0.75rem var(--clr-hover), 0.75rem 0.75rem 0 3px black;
    margin-top: 1.4rem;
  }

}

/* Small devices (landscape phones) */
@media (min-width: 480px) and (max-width: 767px){
  /* Styles for small devices */
  .featured-container {
    box-shadow: 8px 8px 0 0 black;
    outline: 3px solid black;
  }

  .featured-top-bar {
    border-bottom: 3px solid black;
  }

  .featured-line {
    width: 82%;
    height: 3px;
  }

  .featured-top-line {
    padding: 12px 8px 0 12px;
  }
  
  .featured-title {
    font-size: 1.6rem;
    padding: 8px 8px;
    margin-bottom: 12px;
  }
  
  .featured-see-all {
    font-size: var(--fs-body);
    font-weight: var(--fw-semi);
    border-radius: 8px;
    padding: 8px 12px;
    margin-top: 4px;
  }
  
  .featured-see-all:hover {
    margin-top: 2px;
  }
  
  .featured-skills {
    margin: 12px 12px auto;
  }
  
  .featured-skills-list {
    font-size: var(--fs-h3);
    margin-top: -8px;
  }

  .featured-cards-container {
    flex-direction: column;
    align-items: center;
    margin: 0 32px 48px;
  }
  
  .project-card {
    border-radius: 20px;
    outline: 3px solid black;
    margin-top: 32px;
    max-height:55vh;
    max-width: fit-content;
    overflow: hidden;
  }

  .project-image {
    height: 42vh;
    width: 100%;
    border-bottom: 3px solid black;
  }
  
  .project-card--text {
    height: 13vh;
  }
  
  .project-title {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  
  .project-headline {
    margin: 0.5rem 1.2rem 1.2rem 1rem;
    line-height: 1rem;
  }
  
  .project-card:hover {
    box-shadow: 0.75rem 0.75rem var(--clr-hover), 0.75rem 0.75rem 0 3px black;
    margin-top: 1.4rem;
  }
 
}

/* Medium devices (tablets, portrait) */
@media (min-width: 768px) and (max-width: 1023px){
  /* Styles for medium devices */
  .featured-container {
    box-shadow: 8px 8px 0 0 black;
    outline: 3px solid black;
  }

  .featured-top-bar {
    border-bottom: 3px solid black;
  }

  .featured-line {
    width: 85%;
    height: 3px;
  }

  .featured-top-line {
    padding: 16px 24px 0 24px;
  }
  
  .featured-title {
    font-size: var(--fs-sub-head);
    padding: 8px 12px;
    margin-bottom: 12px;
  }
  
  .featured-see-all {
    font-size: var(--fs-h2);
    font-weight: var(--fw-reg);
    border-radius: 12px;
    padding: 8px 24px;
    margin-top: 4px;
  }
  
  .featured-see-all:hover {
    margin-top: 2px;
  }
  
  .featured-skills {
    margin: 12px 24px auto;
  }
  
  .featured-skills-list {
    font-size: var(--fs-h2);
    margin-top: -6px;
  }

  .featured-cards-container {
    margin: 0 24px 32px;
  }
  
  .project-card {
    border-radius: 16px;
    margin-top: 32px;
    max-width: fit-content;
    overflow: hidden;
  }
  
  .project-card--text {
    height: fit max-content;
    margin-bottom: 2rem;
  }
  
  .project-title {
    margin-left: .5rem;
    margin-top: .5rem;
  }
  
  .project-headline {
    margin: 0.5rem 0.5rem 1rem 0.5rem;
    line-height: 1.2rem;
  }
  
  .project-card:hover {
    box-shadow: 0.6rem 0.6rem var(--clr-hover), 0.6rem 0.6rem 0 3px black;
    margin-top: 1.4rem;
  }

}

/* Large devices (tablets, landscape / small laptops) */
@media (min-width: 1024px) and (max-width: 1199px){
  /* Styles for large devices */
  .featured-container {
    box-shadow: 12px 12px 0 0 black;
    outline: 3px solid black;
    max-width: 86vw;
    margin-left: 7vw;
  }

  .featured-top-bar {
    border-bottom: 3px solid black;
  }

  .featured-line {
    width: 92%;
    height: 3px;
  }

  .featured-top-line {
    padding: 16px 24px 0 24px;
  }
  
  .featured-title {
    font-size: var(--fs-h1);
    padding: 8px 12px;
    margin-bottom: 12px;
  }
  
  .featured-see-all {
    font-size: var(--fs-h2);
    font-weight: var(--fw-semi);
    border-radius: 12px;
    padding: 8px 24px;
    margin-top: 4px;
  }
  
  .featured-see-all:hover {
    margin-top: 2px;
  }
  
  .featured-skills {
    margin: 12px 24px auto;
  }
  
  .featured-skills-list {
    font-size: var(--fs-h2);
    margin-top: -6px;
  }

  .featured-cards-container {
    margin: 0 24px 32px;
  }
  
  .project-card {
    border-radius: 18px;
    margin-top: 32px;
    max-width: fit-content;
    overflow: hidden;
  }
  
  .project-card--text {
    height: fit max-content;
    margin-bottom: 2rem;
  }
  
  .project-title {
    margin-left: .8rem;
    margin-top: .8rem;
  }
  
  .project-headline {
    margin: 0.4rem 0.8rem 1rem 0.8rem;
    line-height: 1.2rem;
  }
  
  .project-card:hover {
    box-shadow: 0.6rem 0.6rem var(--clr-hover), 0.6rem 0.6rem 0 3px black;
    margin-top: 1.4rem;
  }
}

/* Extra large devices (laptops, desktops) */
@media (min-width: 1200px) and (max-width: 1439px){
  /* Styles for extra large devices */
  .featured-container {
    box-shadow: 12px 12px 0 0 black;
    outline: 3px solid black;
    max-width: 86vw;
    margin-left: 7vw;
  }

  .featured-top-bar {
    border-bottom: 3px solid black;
  }

  .featured-line {
    width: 93%;
    height: 3px;
  }

  .featured-top-line {
    padding: 16px 24px 0 24px;
  }
  
  .featured-title {
    font-size: var(--fs-h1);
    padding: 8px 12px;
    margin-bottom: 12px;
  }
  
  .featured-see-all {
    font-size: var(--fs-h2);
    font-weight: var(--fw-semi);
    border-radius: 12px;
    padding: 8px 24px;
    margin-top: 4px;
  }
  
  .featured-see-all:hover {
    margin-top: 2px;
  }
  
  .featured-skills {
    margin: 12px 24px auto;
  }
  
  .featured-skills-list {
    font-size: var(--fs-h2);
    margin-top: -6px;
  }

  .featured-cards-container {
    margin: 0 24px 36px;
    gap: 32px;
  }
  
  .project-card {
    border-radius: 24px;
    margin-top: 32px;
    max-width: fit-content;
    overflow: hidden;
  }
  
  .project-card--text {
    height: fit max-content;
    margin-bottom: 2rem;
  }
  
  .project-title {
    margin-left: .8rem;
    margin-top: .8rem;
  }
  
  .project-headline {
    margin: 0.4rem 0.8rem 1rem 0.8rem;
    line-height: 1.2rem;
  }
  
  .project-card:hover {
    box-shadow: 0.7rem 0.7rem var(--clr-hover), 0.7rem 0.7rem 0 3px black;
    margin-top: 1.4rem;
  }
}

/* XXL devices (large desktops) */
@media (min-width: 1440px) and (max-width: 1919px){
  /* Styles for XXL devices */
  .featured-container {
    box-shadow: 12px 12px 0 0 black;
    outline: 3px solid black;
    max-width: 86vw;
    margin-left: 7vw;
  }

  .featured-top-bar {
    border-bottom: 3px solid black;
  }

  .featured-line {
    width: 93%;
    height: 3px;
  }

  .featured-top-line {
    padding: 16px 24px 0 24px;
  }
  
  .featured-title {
    font-size: var(--fs-h1);
    padding: 8px 12px;
    margin-bottom: 12px;
  }
  
  .featured-see-all {
    font-size: var(--fs-h2);
    font-weight: var(--fw-semi);
    border-radius: 12px;
    padding: 8px 24px;
    margin-top: 4px;
  }
  
  .featured-see-all:hover {
    margin-top: 2px;
  }
  
  .featured-skills {
    margin: 12px 24px auto;
  }
  
  .featured-skills-list {
    font-size: var(--fs-h2);
    margin-top: -6px;
  }

  .featured-cards-container {
    margin: 0 24px 36px;
    gap: 32px;
  }
  
  .project-card {
    border-radius: 24px;
    margin-top: 32px;
    max-width: fit-content;
    overflow: hidden;
  }
  
  .project-card--text {
    height: fit max-content;
    margin-bottom: 2rem;
  }
  
  .project-title {
    margin-left: .8rem;
    margin-top: .8rem;
  }
  
  .project-headline {
    margin: 0.4rem 0.8rem 1rem 0.8rem;
    line-height: 1.2rem;
  }
  
  .project-card:hover {
    box-shadow: 0.7rem 0.7rem var(--clr-hover), 0.7rem 0.7rem 0 3px black;
    margin-top: 1.4rem;
  }
}

/* Ultra large devices (4K screens) */
@media (min-width: 1920px) {
  /* Styles for ultra large devices */
  .featured-container {
    box-shadow: 12px 12px 0 0 black;
    outline: 3px solid black;
    max-width: 86vw;
    margin-left: 7vw;
  }

  .featured-top-bar {
    border-bottom: 3px solid black;
  }

  .featured-line {
    width: 93%;
    height: 3px;
  }

  .featured-top-line {
    padding: 24px 32px 0 32px;
  }
  
  .featured-title {
    font-size: var(--fs-h1);
    padding: 8px 16px;
    margin-bottom: 12px;
  }
  
  .featured-see-all {
    font-size: var(--fs-h2);
    font-weight: var(--fw-semi);
    border-radius: 12px;
    padding: 8px 24px;
    margin-top: 4px;
  }
  
  .featured-see-all:hover {
    margin-top: 0px;
  }
  
  .featured-skills {
    margin: 12px 32px auto;
  }
  
  .featured-skills-list {
    font-size: var(--fs-h2);
    margin-top: -6px;
  }

  .featured-cards-container {
    margin: 0 32px 36px;
    gap: 48px;
  }
  
  .project-card {
    border-radius: 32px;
    margin-top: 32px;
    max-width: fit-content;
    overflow: hidden;
  }
  
  .project-card--text {
    height: fit max-content;
    margin-bottom: 2rem;
  }
  
  .project-title {
    margin-left: 1rem;
    margin-top: 1rem;
  }
  
  .project-headline {
    margin: 0.4rem 1rem 1rem 1rem;
    line-height: 1.2rem;
  }
  
  .project-card:hover {
    box-shadow: 0.7rem 0.7rem var(--clr-hover), 0.7rem 0.7rem 0 3px black;
    margin-top: 1.4rem;
  }
}
