:root {
  font-size: 16px;

  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-semi: 600;
  --fw-bold: 900;

  --clr-light-bg: #e3dfe8;
  --clr-headings: #3A3461;
  --clr-body-text: #5b6b79;
  --clr-disabled: #BA9FAA;
  --clr-hover: #ED277C;
  --clr-primary: #9F496E;
  --clr-secondary: #BBB3D3;
  --clr-backup: #334980;
  --clr-white: #ffffff;
  
  --fs-h1: 2.5rem;
  --fs-sub-head: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-body: 1.375;
  --fs-body-sm: 1rem;
  --fs-xl: 3.75rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);

  --bs-solid: 6px 6px 0 0 black;
}

.full-gallery--container {
  background-color: var(--clr-white);
  border-radius: 30px;
  margin-top: 120px;
  margin-left: 8vw;
  width: 84vw;
  box-shadow: 8px 8px 0 0 black;
  outline: 3px solid black;
  overflow: hidden;
}

.full-gallery--top-bar {
  width: 100%;
  height: 2.5rem;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2.5px solid black;
}

.full-gallery--line {
  width: 90%;
  height: 3.5px;
  background-color: black;
  border-radius: 2px;
  margin: 2px 0;
}

.full-gallery--topline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  padding-right: 3rem;
}

.full-gallery--title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  color: var(--clr-headings);
  margin-left: 1.5rem;
  background-color: var(--clr-secondary);
  padding: 4px 8px;
}

.full-gallery--filter-all,
.full-gallery--filter-drawing,
.full-gallery--filter-painting,
.full-gallery--filter-game-art,
.full-gallery--filter-ui {
  background-color: transparent;
  border: 3px solid var(--clr-primary);
  border-radius: 200px;
  color: var(--clr-primary);
  padding: .4rem 1.5rem;
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  margin-left: 2rem;
  margin-top: 1rem;
}

.full-gallery--filters > button:hover {
  background-color: var(--clr-hover);
  color: var(--clr-white);
  border: 3px solid var(--clr-hover);
}

.full-gallery--filter-active {
  background-color: var(--clr-hover);
  border: 3px solid var(--clr-hover);
  border-radius: 200px;
  color: var(--clr-white);
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 6px;
  padding-bottom: 6px;
  font-size: var(--fs-body);
  font-weight: var(--fw-reg);
  margin-left: 2rem;
  margin-top: 1rem;
}

.full-gallery--grid-container {
  padding: 1rem 3rem 3rem 3rem;
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 2rem;
}

@media (max-width: 399px) {
  .full-gallery--grid-container {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin-top: -0.5rem;
  }

  .full-gallery--topline {
    display: grid;
    padding: .8rem;
  }

  .full-gallery--title {
    margin-left: 0;
    padding: 0.25rem 0.5rem;
    width: 76vw;
  }
  
  .full-gallery--filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 0.5rem;
    column-gap: 1rem;
  }
  
  .full-gallery--filter-all,
  .full-gallery--filter-drawing,
  .full-gallery--filter-painting,
  .full-gallery--filter-game-art,
  .full-gallery--filter-ui {
    padding: .4rem 1rem;
    margin-left: 0.2rem;
    margin-top: 0.8em;
    font-size: 0.8rem;
  }

  .full-gallery--filter-active {
    padding: 0.4rem 1rem;
    margin-left: 0.2rem;
    margin-top: 0.6rem;
    font-size: 0.8rem;
  }
  

}

@media (min-width: 400px) and (max-width: 479px) {
  /* Styles for extra small devices */
  .full-gallery--grid-container {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    margin-top: -0.5rem;
  }

  .full-gallery--topline {
    display: grid;
    padding: .8rem;
  }

  .full-gallery--title {
    margin-left: 0;
    padding: 0.25rem 0.5rem;
    width: 78vw;
  }
  
  .full-gallery--filters {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0.5rem;
    column-gap: 1rem;
  }
  
  .full-gallery--filter-all,
  .full-gallery--filter-drawing,
  .full-gallery--filter-painting,
  .full-gallery--filter-game-art,
  .full-gallery--filter-ui {
    padding: .4rem 1rem;
    margin-left: 0.2rem;
    margin-top: 0.8em;
    font-size: 0.8rem;
  }

  .full-gallery--filter-active {
    padding: 0.4rem 1rem;
    margin-left: 0.2rem;
    margin-top: 0.4rem;
    font-size: 0.8rem;
  }
  
}

/* Small devices (landscape phones) */
@media (min-width: 480px) and (max-width: 767px){
  /* Styles for small devices */
  .full-gallery--grid-container {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: auto auto;
    gap: 1.5rem;
  }

  .full-gallery--topline {
    display: grid;
    width: 100%;
  }

  
  .full-gallery--title {
    margin-left: 0.5rem;
    padding: 0.5rem 1rem;
    width: fit-content;
  }
  
  .full-gallery--filters {
    display: grid;
    width: 75vw;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 1rem;
    column-gap: 1rem;
  }
  
  .full-gallery--filter-all,
  .full-gallery--filter-drawing,
  .full-gallery--filter-painting,
  .full-gallery--filter-game-art,
  .full-gallery--filter-ui {
    padding: .5rem 1rem;
    width: max-content;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
  }

  .full-gallery--filter-active {
    padding: 0.5rem 1rem;
    margin-left: 0.5rem;
    margin-top: 0.5rem;
    width: 100%;
  }
}

/* Medium devices (tablets, portrait) */
@media (min-width: 768px) and (max-width: 1023px){
  /* Styles for medium devices */
  .full-gallery--grid-container {
    padding: 1.5rem;
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
  }

  .full-gallery--topline {
    padding: 0;
    padding-top: 1rem;
  }
  
  .full-gallery--title {
    padding: 4px 8px;
  }

  .full-gallery--filters {
    display: grid;
    width: 75vw;
    grid-template-columns: 1fr 1fr 1fr;
    padding-right: 1.5rem;
    padding-left: 1rem;
    gap: 0.8rem;
  }
  
  .full-gallery--filter-all,
  .full-gallery--filter-drawing,
  .full-gallery--filter-painting,
  .full-gallery--filter-game-art,
  .full-gallery--filter-ui {
    margin-left: 0.4rem;
    margin-top: 0;
  }
  
  .full-gallery--filter-active {
    margin-left: 0.4rem;
    margin-top: 0;
  }
}

/* Large devices (tablets, landscape / small laptops) */
@media (min-width: 1024px) and (max-width: 1199px){
  /* Styles for large devices */
  .full-gallery--topline {
    padding: 0;
    padding-top: 1rem;
    padding-right: 1.5rem;
    margin-bottom: 1rem;
  }

  .full-gallery--filter-all,
  .full-gallery--filter-drawing,
  .full-gallery--filter-painting,
  .full-gallery--filter-game-art,
  .full-gallery--filter-ui {
    margin-left: 0.6rem;
  }

  .full-gallery--filter-active {
    margin-left: 0rem;
  }
}

/* Extra large devices (laptops, desktops) */
@media (min-width: 1200px) and (max-width: 1439px){
  /* Styles for extra large devices */
}

/* XXL devices (large desktops) */
@media (min-width: 1440px) and (max-width: 1919px){
  /* Styles for XXL devices */
}

/* Ultra large devices (4K screens) */
@media (min-width: 1920px) {
  /* Styles for ultra large devices */
}
