:root {
  font-size: 16px;

  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'Source Code Pro', monospace;

  --fw-light: 300;
  --fw-reg: 400;
  --fw-semi: 600;
  --fw-bold: 900;

  --clr-light-bg: #e3dfe8;
  --clr-headings: #3A3461;
  --clr-body-text: #5b6b79;
  --clr-disabled: #BA9FAA;
  --clr-hover: #ED277C;
  --clr-primary: #9F496E;
  --clr-secondary: #BBB3D3;
  --clr-backup: #334980;
  --clr-white: #ffffff;
  
  --fs-h1: 2.5rem;
  --fs-sub-head: 2rem;
  --fs-h2: 1.5rem;
  --fs-h3: 1.25rem;
  --fs-body: 1.375;
  --fs-body-sm: 1rem;
  --fs-xl: 3.75rem;

  --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
        0.125em 0.125em 0.25em rgba(0,0,0,.15);

  --bs-solid: 6px 6px 0 0 black;
}

.projects--uiux-container {
  background-color: var(--clr-white);
  border-radius: 30px;
  margin-top: 100px;
  margin-left: 8vw;
  padding-bottom: 12px;
  max-width: 84vw;
  box-shadow: 8px 8px 0 0 black;
  outline: 3px solid black;
  overflow: hidden;
}

.projects--cards-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 0rem;
  column-gap: 2rem;
  padding: 0rem 2rem;
  margin-bottom: 2rem;
}

.projects--top-bar {
  width: 100%;
  height: 2.5rem;
  background-color: var(--clr-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 2.5px solid black;
}

.projects--line {
  width: 90%;
  height: 3.5px;
  background-color: black;
  border-radius: 2px;
  margin: 2px 0;
}

.projects--section-title {
  font-size: var(--fs-h1);
  font-weight: var(--fw-bold);
  color: var(--clr-headings);
  margin: 1rem;
  padding: 0.4rem 0.8rem;
  background-color: var(--clr-secondary);
  max-width: fit-content;
}

.projects--section-subhead {
  font-size: var(--fs-h2);
  font-weight: var(--fw-reg);
  color: var(--clr-body-text);
  padding: 0rem 1rem;
}

/* Small devices (landscape phones) */
@media (min-width: 320px) and (max-width: 767px){
  /* Styles for small devices */
  .projects--uiux-container {
    width: 80vw;
    margin-left: 10vw;
  }

  .projects--section-subhead {
    margin-bottom: 1rem;
  }

  .projects--cards-container {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    align-items: center;
    padding-left: 12vw;
    padding-right: 12vw;
    margin-bottom: 2rem;
  }

}

/* Medium devices (tablets, portrait) */
@media (min-width: 768px) and (max-width: 1023px){
  /* Styles for medium devices */
  .projects--cards-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 0rem;
    column-gap: 2rem;
    padding: 0rem 2rem;
    margin-bottom: 2rem;
  }
}

/* Large devices (tablets, landscape / small laptops) */
@media (min-width: 1024px) and (max-width: 1199px){
  /* Styles for large devices */
}

/* Extra large devices (laptops, desktops) */
@media (min-width: 1200px) and (max-width: 1439px){
  /* Styles for extra large devices */
}

/* XXL devices (large desktops) */
@media (min-width: 1440px) and (max-width: 1919px){
  /* Styles for XXL devices */
}

/* Ultra large devices (4K screens) */
@media (min-width: 1920px) {
  /* Styles for ultra large devices */
}
