:root {

    font-size: 16px;

    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-semi: 600;
    --fw-bold: 900;

    --clr-light-bg: #e3dfe8;
    --clr-headings: #3A3461;
    --clr-body-text: #5b6b79;
    --clr-disabled: #BA9FAA;
    --clr-hover: #ED277C;
    --clr-primary: #9F496E;
    --clr-secondary: #BBB3D3;
    --clr-backup: #334980;
    --clr-white: #ffffff;
    
    --fs-h1: 2.5rem;
    --fs-sub-head: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.375;
    --fs-body-sm: 1rem;
    --fs-xl: 3.75rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --bs-solid: 6px 6px 0 0 black;
}

.project2--main-container {
    background-color: var(--clr-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 150px;
}


/* Extra Small Screens */
@media (min-width: 320px) and (max-width: 419px) {
    
    
    
}


@media (min-width: 420px) and (max-width: 479px) {
    
   
}


/* Small devices (landscape phones) */
@media (min-width: 480px) and (max-width: 767px){
   
    
}

/* Medium devices (tablets, portrait) */
@media (min-width: 768px) and (max-width: 1023px){
    
    
}

/* Large devices (tablets, landscape / small laptops) */
@media (min-width: 1024px) and (max-width: 1199px){
   
    
}

/* Extra large devices (laptops, desktops) */
@media (min-width: 1200px) and (max-width: 1439px){
    
}



