:root {

    font-size: 16px;

    --ff-primary: 'Source Sans Pro', sans-serif;
    --ff-secondary: 'Source Code Pro', monospace;

    --fw-light: 300;
    --fw-reg: 400;
    --fw-semi: 600;
    --fw-bold: 900;

    --clr-light-bg: #e3dfe8;
    --clr-headings: #3A3461;
    --clr-body-text: #5b6b79;
    --clr-disabled: #BA9FAA;
    --clr-hover: #ED277C;
    --clr-primary: #9F496E;
    --clr-secondary: #BBB3D3;
    --clr-backup: #334980;
    --clr-white: #ffffff;
    
    --fs-h1: 2.5rem;
    --fs-sub-head: 2rem;
    --fs-h2: 1.5rem;
    --fs-h3: 1.25rem;
    --fs-body: 1.375;
    --fs-body-sm: 1rem;
    --fs-xl: 3.75rem;

    --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);

    --bs-solid: 6px 6px 0 0 black;
}

.project--container {
    background-color: var(--clr-white);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    padding-top: 70px;

}

.project--headline-container {
    width: 100%;
    margin-bottom: 5rem;
}

.project--headline-img { 
    width: 100%;
    height: 60vh;
}

.project--title {
    padding: 1rem 10rem;
    font-size: var(--fs-h1);
    color: var(--clr-headings);
    font-weight: var(--fw-bold);
}

.project--sub-head {
    padding: 0 10rem;
    font-size: var(--fs-h2);
    font-weight: var(--fw-semi);
    color: var(--clr-headings);
}

.project--team-role-container {
    margin-bottom: 5rem;
}

.project--process-container {
    margin-bottom: 2rem;
}

.project--process-steps-container {
    display: flex;
    padding: 1rem 15rem;
    justify-content: space-between;
    position: relative;
    margin-top: 1rem;
}

.project--process-step {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.project--process-step:before {
    content: "";
    position: absolute;
    top: 3.3rem;
    left: 20rem;
    right: 20rem;
    height: 3px;
    background-color: var(--clr-headings);
    z-index: -1;
}

.project--process-step:first-child:before {
    display: none;
}

.project--process-step-img {
    width: 75%;
}

.project--process-step-name {
    font-size: var(--fs-h3);
    color: var(--clr-headings);
    font-weight: var(--fw-semi);
}

.project--progress-images-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 0 10rem;
}

.project--progress-image {
    width: 100%;
}

.project--progress-description-container {
    width: 100%;
    padding: 2rem 10rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project--description {
    font-size: var(--fs-body);
    color: var(--clr-body-text);
}

.project--final-design-container {
    width: 100%;
}

.project--final-img-container {
    padding: 2rem 10rem;
}

.project--full-width {
    width: 100%;
}

.project--moving-forward-container {
    margin-bottom: 3rem;
}

.project--learnings-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7rem;
    margin: 3rem 10rem;
    background-color: #D9D9D9;
}

.project--back-to-button {
    font-size: var(--fs-h3);
}


/* Extra Small Screens */
@media (min-width: 320px) and (max-width: 419px) {
    .project--headline-container {
        margin-bottom: 1rem;
    }
    
    .project--headline-img { 
        height: 30vh;
    }
    
    .project--title {
        padding: 1rem 1.5rem;
        font-size: var(--fs-sub-head);
    }
    
    .project--sub-head {
        padding: 0 1.5rem;
        font-weight: var(--fw-reg);;
    }
    
    .project--team-role-container {
        margin-bottom: 2rem;
    }
    
    .project--process-container {
        margin-bottom: 1rem;
    }
    
    .project--process-steps-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 1rem 1.5rem;
        margin-top: 0rem;
    }

    .project--process-step-img {
        width: 50%;
    }
    
    .project--process-step-name {
        margin-bottom: 1rem;
    }
    
    .project--progress-images-container {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
        padding: 0 1.5rem;
    }
    
    .project--progress-image {
        width: 100%;
    }
    
    .project--progress-description-container {
        padding: 2rem 1.5rem 1rem;
    }
    
    .project--final-img-container {
        padding: 1rem 1.5rem;
        margin-bottom: -1rem;
    }
    
    .project--full-width {
        width: 100%;
        height: 40vh;
    }
    
    .project--moving-forward-container {
        margin-bottom: 5rem;
    }
    
    .project--learnings-container {
        padding: 2rem;
        margin: 1rem 1.5rem;
    }
    
    .project--back-to-button {
        font-size: var(--fs-h3);
    }
}

